/* 
colors: 
#18c787
#5c047f
#38fa46
#fb76eb
#a218c7
*/

/* Recipes page */

.recipes-intro {
    margin: 0;
    position: relative;
    width: 100%;
    top: 12vh;
    text-align: center;
    padding: 2%;
}

.recipes-list {
    top: 12vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-excerpt {
    width: 26%;
    border: 3px solid #a218c7;
    margin: 2%;
    padding: 1%;
    text-align: center;
    height: 45vw;
}

.recipe-excerpt p {
    font-size: 2vw;
}

.recipe-excerpt a,
.recipe-excerpt a:visited,
.recipe-excerpt a:active {
    color: black;
}

.recipes-list-photo {
    width: 26vw;
    height: 26vw;
    object-fit: cover;
}

.vegetarian {
    display: flex;
    align-items: center;
    width: auto;
}

.vegetarian img {
    width: 2.5vw;
}

.form-category {
    margin-top: 2%;
}

.select {
    width: 15%;
    border: 2px solid #a218c7;
    font-size: 2vw;
    font-family: 'Ubuntu';
}

.select-submit {
    background-color: #a218c7;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 2vw;
    padding: 0 2%;
    font-family: 'Ubuntu';
    margin: 0 2%;
}

@media (max-width:768px) {
    .recipe-excerpt {
        height: 55vw;
    }
}


/* Recipe detail page */

.recipe-hero {
    margin: 0;
    position: relative;
    width: 100%;
    top: 12vh;
    height: 88vh;
    border-bottom: 4px solid #38FA46;
}

.recipe-hero-image {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-clip: padding-box;
    visibility: visible;
}

.recipe-hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.recipe-hero-text {
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    width: 100%;
    padding: 3%;
}

.recipe-details {
    margin: 0;
    position: relative;
    width: 100%;
    top: 12vh;
}

.recipe-details-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

@media (max-width:768px) {
    .recipe-details-container {
        flex-direction: column;
        gap: 1vh;
    }
}

.recipe-content {
    margin: 0;
    position: relative;
    width: 100%;
    top: 12vh;
}

.recipe-instructions {
    width: 80%;
    margin: 0 auto;
}