/* Recipes page */

.recipes-intro {
    margin: 0;
    position: relative;
    width: 100%;
    top: 12vh;
    text-align: center;
    overflow: hidden;
}

.instruction-note {
    margin: 2% 10%;
    font-size: 1.5vw;
}

.recipes-list {
    top: 12vh;
    position: relative;
    width: 100%;
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 65vh;
}

.recipe-excerpt {
    width: 26%;
    border: 3px solid #5c947f;
    margin: 2%;
    position: relative;
    text-align: center;
    height: 45vw;
}

@media (max-width:768px) {
    .recipe-excerpt{
        width: 35%;
        height: 57vw;
    }

    .recipe-excerpt-infos{
        bottom: 20%;
    }
}

.recipe-excerpt a,
.recipe-excerpt a:visited,
.recipe-excerpt a:active {
    color: black;
}

.recipes-list-photo {
    width: 100%;
    object-fit: cover;
}

.recipe-excerpt-infos{
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.vegetarian {
    display: flex;
    align-items: center;
    width: auto;
}

.vegetarian img {
    width: 2.5vw;
}

.form-category {
    margin-top: 2%;
}

.select {
    width: 15%;
    border: 2px solid #a218c7;
    font-size: 2vw;
    font-family: 'Ubuntu';
}

.select-submit,
.comments-post-form button {
    background-color: #a218c7;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 2vw;
    padding: 0 2%;
    font-family: 'Ubuntu';
    margin: 0 2%;
    cursor: pointer;
}

.nav-pagination {
    position: relative;
    top: 12vh;
}

.pagination li a {
    margin: 2% auto;
    color: black;
}

/* Recipe detail page */

.recipe-hero {
    margin: 0;
    position: relative;
    width: 100%;
    top: 12vh;
    height: 88vh;
    border-bottom: 4px solid #38FA46;
}

.recipe-hero-image {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    visibility: visible;
}

.recipe-hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.recipe-hero-text {
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    width: 100%;
    padding: 3%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.recipe-details {
    margin: 0;
    position: relative;
    width: 100%;
    top: 12vh;
}

.recipe-details-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

@media (max-width:768px) {
    .recipe-details-container {
        flex-direction: column;
        gap: 1vh;
    }
}

.recipe-content {
    margin: 0;
    position: relative;
    width: 100%;
    top: 12vh;
}

.recipe-content-container {
    margin: 0 auto;
}

.ingredients {
    background-color: #a218c7;
    width: 100%;
    padding: 2%;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    text-align: center;
    color: white;
    margin-bottom: 5%;
}

.ingredients h4 {
    margin: 0;
    padding-bottom: 1%;
}

.recipe-instructions {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 5%;
}

.bookmark-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10%;
}

@media (max-width:768px) {
    .bookmark-section {
        width: 80%;
        margin: 5% auto;
    }
}

.bookmark-section button {
    border: none;
    background: white;
}

.bookmark-section button img {
    width: 4vw;
}

.bookmark-section span {
    width: auto;
    margin-left: 10%;
}

.bookmark-section button,
.bookmark-section label[for],
.remove-cookbook button,
.remove-cookbook label[for],
.remove-appointment button,
.remove-appointment label[for] {
    cursor: pointer;
}

.bookmark-hint{
    font-size: 2vw;
}

.comments {
    width: 80%;
    margin: 15% auto;
}

.comments-headline {
    margin-bottom: 10%;
}

.comments-headline,
.comments-post h3 {
    text-align: center;
}

.comments-headline h3 {
    margin: 0;
}

.comments-headline p {
    margin-bottom: 2%;
}

.comments-counter,
.comments-message-published {
    float: right;
    font-size: 1.5vw;
}

.comments-display {
    margin: 10% 0;
}

.comments-message {
    margin: 1% 0;
    padding: 2%;
    border: 4px solid #a218c7;
}

.comments-post{
    clear: both;
    padding: 1% 0;
}

.comments-post-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12vh;
}

.comments-post-form textarea {
    height: 15vh;
    width: 50vw;
    margin: 0 2%;
    border: 2px solid black;
}

.comments-post-form button {
    width: 15%;
    border: 2px solid #a218c7;
    font-size: 2vw;
    font-family: 'Ubuntu';
}

.feedback {
    text-align: center;
    border: 2px solid black;
    background-color: #18c787;
    padding: 2%;
    margin: 10% 0;
}

/* Cookbook page */

.empty-cookbook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5% 0;
    padding: 5%;
    height: 20vh;
    width: 50%;
    border: 2px solid #a218c7;
}

.remove-cookbook,
.remove-appointment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1% auto;
}

.remove-button {
    border: none;
    background: white;
    font-size: 2vw;
    display: flex;
    align-items: center;
}

.remove-cookbook label[for],
.remove-appointment label[for] {
    font-size: 2vw;
}

.remove-button img {
    width: 3vw;
}

.remove-feedback {
    position: relative;
    top: 12vh;
    text-align: center;
    color: #38FA46;
    margin: 2%;
}

/* Workshop page */

.workshop {
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 56vh;
    top: 12vh;
    text-align: center;
    overflow: hidden;
    z-index: 0;
}

.workshop-form {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    font-size: 2vw;
    padding: 2%;
    border: 4px solid #a218c7;
    gap: 1vw;
}

.workshop-form input, .workshop-form select {
    border: 1px solid black;
    font-size: 3vw;
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu';
    padding: 0;
}

.workshop-button {
    border: 2px solid #a218c7;
    font-size: 2vw;
    font-family: 'Ubuntu';
    background-color: #a218c7;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 1% 2%;
    margin: 10% 0;
    cursor: pointer;
}

.personal-workshop {
    position: relative;
    top: 12vh;
    width: 100%;
    text-align: center;
    margin: 10% 0;
    border-top: 4px solid #38FA46;
}

.personal-workshop-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.personal-workshop-date {
    border: 4px solid #a218c7;
    width: 30%;
    padding: 2%;
    margin: 2%;
}

.user-display {
    color: #38FA46;
    display: inline;
}

.booked-message {
    min-height: 73vh;
}