/* 
colors: 
#18c787
#5c047f
#38fa46
#fb76eb
#a218c7
*/

.recipes-intro {
    margin: 0;
    position: relative;
    width: 100%;
    top: 12vh;
    text-align: center;
    padding: 2%;
}

.recipes-list {
    top: 12vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-excerpt {
    width: 26%;
    border: 3px solid #a218c7;
    margin: 2%;
    padding: 1%;
    text-align: center;
    height: 45vw;
}

.recipe-excerpt p {
    font-size: 2vw;
}

.recipe-excerpt a, .recipe-excerpt a:visited, .recipe-excerpt a:active {
    color: black;
}

.recipes-list-photo {
    width: 26vw;
    height: 26vw;
    object-fit: cover;
}

.vegetarian {
    display: flex;
    align-items: center;
}

.vegetarian img {
    width: 2.5vw;
}

.form-category {
    margin-top: 2%;
}

.select {
    width: 15%;
    border: 2px solid #a218c7;
    font-size: 2vw;
    font-family: 'Ubuntu';
}

.select-submit {
    background-color: #a218c7;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 2vw;
    padding: 0 2%;
    font-family: 'Ubuntu';
    margin: 0 2%;
}

@media (max-width:768px) {
    .recipe-excerpt {
        height: 55vw;
    }
}