/*
font-family: 'Bebas Neue', cursive;
font-family: 'Ubuntu', sans-serif;
*/

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-size: 2vw;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', cursive;
}

/* Base template */

header {
    width: 100%;
    height: 12vh;
    background-color: white;
    border-bottom: 4px solid #38FA46;
    display: flex;
    align-items: center;
    gap: 30%;
    position: fixed;
    z-index: 3;
}

.logo-container {
    margin-left: 5%;
}

@media (orientation: portrait) {
    .logo-container {
        width: 20%;
    }
}

@media (orientation: landscape) {
    .logo-container {
        width: 10%;
    }
}

.logo-container img {
    width: 100%;
}

/* Nav bar inspired by Miguel Nunez, source: https://www.youtube.com/watch?v=flItyHiDm7E) */

.navbar {
    min-height: 2%;
    width: 100%;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    gap: 15%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    margin: 0;
}

.nav-menu img {
    width: 2vw;
}

.nav-item {
    margin: 0 2%;
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.nav-link {
    width: 100%;
    padding: 0 2%;
}

header li {
    list-style: none;
}

ul li {
    display: flex;
    align-items: center;
    width: 100%;
}

span {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
}

header a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

header a, a:active,
a:visited {
    color: black
}


header img {
    max-width: 200px;
}


@media (max-width:768px) {
    body {
        font-size: 3.5vw;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -250%;
        top: 12vh;
        gap: 10vh;
        flex-direction: column;
        background-color: rgba(24, 199, 135, 0.9);
        width: 100%;
        text-align: center;
        transition: 0.2s;
        z-index: 5;
        padding-bottom: 20px;
    }

    .nav-menu.active {
        left: 0;
        margin: 0;
    }

    ul.nav-menu.active {
        padding: 20px;
    }

    header a,
    a:active,
    a:visited {
        margin: 35%
    }

    .navbar {
        gap: 50%;
    }

    .nav-menu img {
        width: 3vw;
    }

    span {
        display: inline-block;
    }
}

main {
    position: relative;
}

footer {
    position: relative;
    top: 12vh;
    width: 100%;
    height: 24vh;
    background-color: black;
    color: #38FA46;
    display: flex;
    border-top: 4px solid #38FA46;
    border-bottom: 4px solid #38FA46;
}

@media (max-width:600px) {
    footer {
        height: 18vh;
    }
}

.footer-infos {
    display: flex;
    flex-direction: column;
    width: 33%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.footer-infos a,
footer a:active,
footer a:visited {
    color: #38FA46;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 2vw;
}

.footer-infos p {
    font-size: 2vw;
}

.footer-infos img {
    width: 100%;
}

.footer-logo {
    width: 60%;
}

/* Index page */

#hero {
    top: 12vh;
    width: 100%;
    height: 88vh;
    position: relative;
    border-bottom: 4px solid #38FA46;
}

/* Resource: https://unsplash.com/photos/gmo6Ok9G0U8 Photo by: adilsphotography */
#hero-img {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-clip: padding-box;
    visibility: visible;
}

#hero-text {
    font-size: 5vw;
    color: #38FA46;
    text-align: center;
    position: relative;
    padding: 3%;
    width: 100%;
    height: 40%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

@media (max-width:600px) {
    #hero-text {
        font-size: 7vw;
    }
}

#hero-text h1,
p {
    margin: 1%;
}

/* Backdrop filter effect for hero image on all devices */

.hero-filter {
    position: relative;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(100%);
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-effect {
    animation: 3.5s ease-in 1 forwards brightness;
    -webkit-animation: 3.5s ease-in 1 forwards brightness;
    -moz-animation: 3.5s ease-in 1 forwards brightness;
    -o-animation: 3.5s ease-in 1 forwards brightness;
    -ms-animation: 3.5s ease-in 1 forwards brightness;
}

@keyframes brightness {
    100% {
        backdrop-filter: grayscale(1%);
    }
}

@-webkit-keyframes brightness {
    100% {
        backdrop-filter: grayscale(1%);
    }
}

@-moz-keyframes brightness {
    100% {
        backdrop-filter: grayscale(1%);
    }
}

@-o-keyframes brightness {
    100% {
        backdrop-filter: grayscale(1%);
    }
}

@-ms-keyframes brightness {
    100% {
        backdrop-filter: grayscale(1%);
    }
}


.introduction {
    margin: 0;
    position: relative;
    width: 100%;
    top: 12vh;
    margin-top: 12vh;
}

.headline {
    text-align: center;
    margin-bottom: 12vh;
}

.teaser {
    width: 100%;
    display: flex;
}

.teaser-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
}

.teaser-text,
.teaser div {
    width: 50%;
}

.teaser p {
    background-color: #18c787;
    color: black;
    font-size: 2vw;
    padding: 5%;
    text-align: center;
    min-height: -webkit-fill-available;
}

.teaser div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline h2,
p {
    margin: 0;
}

.banner-login {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.background-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-clip: padding-box;
    visibility: visible;
}

.login-container {
    background-color:rgba(162,24,199, 0.7);
    width: 25%;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.login-container:hover {
    border: 3px solid black;
    color: black;
    font-weight: bold;
}

.login-container a {
    color: white;
    text-decoration: none;
    padding: 5%;
}