{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="recipes-intro">
    <h1>My cookbook</h1>
    <p>All your bookmarked recipes in one condensed list.</p>
</section>

<section class="recipes-list">
    {% if not bookmarked_recipe %}
    <div class="empty-cookbook">
        <p>Oh, your cookbook is still empty!</p>
        <p>Go to the recipes section and add dishes to your cookbook.</p>
    </div>
    {% endif %}
    {% for recipe in bookmarked_recipe %}
    <div class="recipe-excerpt">
        <a href="{% url 'recipe_detail' recipe.slug  %}">
            <img src="{{ recipe.recipe_image.url }}" class="recipes-list-photo" alt="Photo of the meal">
            <h3>{{ recipe.title }}</h3>
        </a>
        <div class="recipe-excerpt-infos">
            {% if recipe.type == 0 %}
            <p>Unassignable</p>
            {% elif recipe.type == 1 %}
            <p>European</p>
            {% elif recipe.type == 2 %}
            <p>Asian</p>
            {% elif recipe.type == 3 %}
            <p>Arabic</p>
            {% elif recipe.type == 4 %}
            <p>African</p>
            {% else %}
            <p>North-/Southamerican</p>
            {% endif %}

            {% if recipe.vegetarian %}
            <span class="vegetarian">
                Vegetarian
                <img src="{% static 'img/icons/veggie.svg' %}" alt="vegetarian">
            </span>
            {% endif %}

            <form action="{% url 'remove_bookmark' recipe.id %}" method="POST" class="remove-cookbook">
                {% csrf_token %}
                <button type="submit" name="recipe_id" value="{{recipe.id}}" id="remove-cookbook-button"
                    class="remove-button">Remove
                    <img src="{% static 'img/icons/delete.svg' %}" alt="delete here">
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
</section>

{% if is_paginated %}
<nav aria-label="Navigation" class="nav-pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{%endblock%}