{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="hero" aria-label="hero section">
    <div id="hero-img" style="background-image: url('{% static 'img/hero.jpg' %}')">
        <div class="hero-filter hero-effect">
            <div id="hero-text">
                <h1>Ingredients</h1>
                <p>The most delicous meals with only 5 ingredients!</p>
            </div>
        </div>
    </div>
</div>

<div class="introduction">
    <article class="headline">
        <h2>The most simple, delicious and ingenious dishes</h2>
        <p>that will make you look like a star chef!</p>
    </article>

    <div class="teaser">
        <div class="teaser-text">
            <p><span class="text-center">What drives us at Ingredients?</span>
                We want to deliver the best cooking experience to your home, instead of cheap fast food!<br><br>
                We believe and know that you can prepare great dishes without much effort and without a full fridge.
                And we show you how!<br><br> With creative recipes, or in a virtual cooking class,
                you'll learn everything it takes to wow your partner, friends or family.
                Or to simply do something good for yourself!<br><br> Register now and discover
                the world of fast and delicious cuisine.</p>
        </div>
        <div>
            <!-- Photo by Jimmy Dean: https://unsplash.com/photos/my1mDMraGf0 -->
            <img src="{% static 'img/teaser.jpg' %}" alt="A couple cooking">
        </div>
    </div>

    <div class="banner-login">
        <!-- Photo by Pablo Merchán Montes: https://unsplash.com/photos/Orz90t6o0e4 -->
        <div class="background-banner" style="background-image: url('{% static 'img/banner-login.jpg' %}')">
            <div class="login-container">
                <a href="{% url 'account_login' %}" aria-label="Login page">Lets's cook!</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}