{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="recipe-hero" aria-label="recipe image">
  <div class="recipe-hero-image" style="background-image: url('{{ recipe.recipe_image.url }}')">
    <div class="recipe-hero-container">
      <div class="recipe-hero-text">
        <h1>{{ recipe.title }}</h1>
        <div class="bookmark-hint">
          {% if bookmarked %}
          <p>This recipe is bookmarked!</p>
          {% else %}
          <p>Not bookmarked yet!</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="recipe-details" aria-label="recipe details">
  <div class="recipe-details-container">
    {% if recipe.type == 0 %}
    <p>Cuisine: Unassignable</p>
    {% elif recipe.type == 1 %}
    <p>Cuisine: European</p>
    {% elif recipe.type == 2 %}
    <p>Cuisine: Asian</p>
    {% elif recipe.type == 3 %}
    <p>Cuisine: Arabic</p>
    {% elif recipe.type == 4 %}
    <p>Cuisine: African</p>
    {% else %}
    <p>Cuisine: North-/Southamerican</p>
    {% endif %}

    {% if recipe.vegetarian %}
    <span class="vegetarian">
      Vegetarian
      <img src="{% static 'img/icons/veggie.svg' %}" alt="vegetarian">
    </span>
    {% endif %}
    <p>Published: {{ recipe.created }}</p>
  </div>
</section>

<div class="recipe-content">
  <article class="recipe-content-container">
    <div class="ingredients">
      <h4>Ingredients</h4>
      {{ recipe.ingredients | safe }}
    </div>
    <div class="recipe-instructions">
      <p>{{ recipe.content | safe }}</p>
    </div>

    {% if user.is_authenticated %}
    <form action="{% url 'recipe_bookmark' recipe.id %}" method="POST" class="bookmark-section" id="myBtn">
      {% csrf_token %}
      {% if bookmarked %}
      <label for="delete">Delete bookmark</label>
      <button type="submit" name="recipe_id" value="{{recipe.id}}" id="delete">
        <img src="{% static 'img/icons/delete.svg' %}" alt="delete here">
      </button>
      {% else %}
      <label for="bookmark">Bookmark and add to cookbook</label>
      <button type="submit" name="recipe_id" value="{{recipe.id}}" id="bookmark">
        <img src="{% static 'img/icons/book.svg' %}" alt="bookmark here">
      </button>
      {% endif %}
      <span>Bookmarked in total: {{ recipe.num_of_bookmarks }} </span>
      {% endif %}
    </form>
  </article>

  <article class="comments">
    <div class="comments-headline">
      <h3>Comments section</h3>
      <p>Post your thoughts, feedback and tips and help others to become a starchef too!</p>
    </div>

    <div class="comments-counter">
      {% with comments.count as total %}
      <p>Total comments: {{ total }}</p>
      {% endwith %}
    </div>

    {% for comment in comments %}
    <div class="comments-display">
      <p><strong>{{ comment.username }}</strong> wrote:</p>
      <p class="comments-message">{{ comment.message }}</p>
      <p class="comments-message-published">Published: {{ comment.created }}</p>
    </div>
    {% endfor %}

    {% if commented %}
    <div class="comments-post">
      <p class="feedback">
        We are currently checking your comment, please wait a few minutes for approval!
      </p>
      {% else %}
      {% if user.is_authenticated %}

      <h3>Post your comment right here:</h3>
      <form method="post" class="comments-post-form">
        {{ comment_form }}
        {% csrf_token %}
        <button type="submit">Submit</button>
      </form>
      {% endif %}
      {% endif %}
    </div>

  </article>
</div>
{% endblock content %}