{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="workshop">
    {% if booked %}
    <div class="booked-message">
        <h2>Thank you <span class="user-display">{{ user }}</span> for booking an unforgettable workshop!</h2>
        <p>We will send you an email with the confirmation, the google-meet link and the invoice.</p>
        <p>We are very much looking forward to seeing you! Let's cook something great! </p>
    </div>
    {% else %}
    <h1>Book your viritual cooking workshop right now!</h1>
    <p>Learn new delicious recipes that will blow your guests away!</p>
    <p>Meet new, ambitious chefs and share your experiences.</p>
    <p>Get your seat now for only <span class="user-display">$14.99</span> instead of $24.99.</p>


    <form action="." method="POST" class="workshop-form">
        {% csrf_token %}
        {{ appointment_form }}
        <input type="Submit" value="Book workshop now!" class="workshop-button">
    </form>
</section>
<section class="personal-workshop">
    <h3>My booked workshops - personal reminder</h3>
    {% if not appointments %}
    <p>You don't have any booked workshops right now.</p>
    <p>Book your virtual cooking course in the form above to create unforgettable dishes. </p>
    {% else %}
    <p>If you are unable to attend a booked class, please contact our support at workshop.ingredient5@gmail.com.
        Then we will find a suitable solution for you!</p>
    <div class="personal-workshop-container">
        {% for appointment in appointments %}
        <div class="personal-workshop-date">
            <p>Date: {{ appointment.day }}</p>
            <p>Time: {{ appointment.time }}</p>
            <form action="{% url 'remove_appointment' appointment_id=appointment.id %}" method="POST"
                class="remove-appointment">
                {% csrf_token %}
                <label for="remove-appointment-button">Remove</label>
                <button type="submit" name="appointment_id" value="{{appointment.id}}" id="remove-appointment-button"
                    class="remove-button">
                    <img src="{% static 'img/icons/delete.svg' %}" alt="delete here">
                </button>
            </form>
        </div>
        {% endfor%}
    </div>
    {% endif%}
</section>
{% endif %}
{%endblock%}