<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An application that helps people to cook and eat healthy">
  <meta name="keywords" content="cooking, cooking course, workshop, recipes, delicous dishes, healthy and fast food">
  <meta name="author" content="Thomas Strassmann, Ingredients">
  <title>Ingredients - star chef-like dishes with only 5 ingredients</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="#" type="text/css">
  <link rel="stylesheet" href="#" type="text/css">
  <link rel="stylesheet" href="#" type="text/css">
  <script src="#" defer></script>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo-container">
        <a href="#" aria-label="Ingredients Homepage">
          <img src="#" alt="Ingredients logo">
        </a>
      </div>

      <ul class="nav-menu">
        <li>
          <span>
            <a href="#" aria-label="Recipes list">Recipes
              <img src="#" alt="Recipes"></a>
          </span>
        </li>
        <li>
          <span>
            <a href="#" aria-label="My cookbook">Cookbook
              <img src="#" alt="Cookbook"></a>
          </span>
        </li>
        <li>
          <span>
            <a href="#" aria-label="My workshops">Workshops
              <img src="#" alt="Workshop"></a>
          </span>
        </li>
        <li>
          <span>
            <a href="#" aria-label="Logout">Logout
              <img src="#" alt="Logout"></a>
          </span>
        </li>
        <li>
          <span>
            <a href="#" aria-label="Sign up for Ingredients">Sign up
              <img src="#" alt="Sign up right here!"></a>
          </span>
        </li>
        <li>
          <span>
            <a href="#" aria-label="Login">Login
              <img src="#" alt="Login here!"></a>
          </span>
        </li>
      </ul>
      <div class="hamburger">
        <a href="#" aria-label="Menu">
          <img src="#" alt="Menu"></a>
      </div>
    </nav>
  </header>

  <main>
<div id="hero">
    <div id="hero-img" style="background-image: url(#)">
        <div class="hero-filter hero-effect">
            <div id="hero-text">
                <h1>Ingredients</h1>
                <p>The most delicous meals with only 5 ingredients!</p>
            </div>
        </div>
    </div>
  </div>

<div class="introduction">
    <article class="headline">
        <h2>The most simple, delicious and ingenious dishes</h2>
            <p>that will make you look like a star chef!</p>
    </article>

    <div class="teaser">
        <div class="teaser-text">
            <p><span class="text-center">What drives us at Ingredients?</span>
                We want to deliver the best cooking experience to your home, instead of cheap fast food!<br><br>
                We believe and know that you can prepare great dishes without much effort and without a full fridge.
                And we show you how!<br><br> With creative recipes, or in a virtual cooking class,
                you'll learn everything it takes to wow your partner, friends or family.
                Or to simply do something good for yourself!<br><br> Register now and discover
                the world of fast and delicious cuisine.</p>
        </div>
        <div>
            <!-- Photo by Jimmy Dean: https://unsplash.com/photos/my1mDMraGf0 -->
            <img src="#" alt="A couple cooking">
        </div>
      </div>

    <div class="banner-login">
        <!-- Photo by Pablo Merchán Montes: https://unsplash.com/photos/Orz90t6o0e4 -->
        <div class="background-banner" style="background-image: url('#')">
            <div class="login-container">
                <a href="#" aria-label="Login page">Lets's cook!</a>
            </div>
        </div>
      </div>
    </div>
{%endblock%}
  </main>

  <footer>
    <div class="footer-infos">
      <a href="#" aria-label="Our values">Our values</a>
      <a href="#" aria-label="Our values">Our mission</a>
      <a href="#" aria-label="Our values">Working at Ingredients</a>
    </div>

    <div class="footer-infos">
      <p>Visit us on:</p>
      <a href="#" aria-label="Visit us on Facebook">Facebook</a>
      <a href="#" aria-label="Visit us on Twitter">Twitter</a>
      <a href="#" aria-label="Visit us on Instagram">Instagram</a>
    </div>

    <div class="footer-infos">
      <div class="footer-logo">
        <a href="#" aria-label="Ingredients Homepage">
          <img src="#" alt="Ingredients logo">
        </a>
      </div>
    </div>
  </footer>
</body>

</html>